<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource
        name="jdbc/UserPlatformDB"
        auth="Container"
        type="javax.sql.DataSource"
        driverClassName="org.apache.derby.jdbc.EmbeddedDriver"
        maxActive="20"
        maxIdle="20"
        url="jdbc:derby:/C/jetbrains/env/db/demo_db;create=true"/>
        />
</Context>